body{
	margin: 0;
}
h1{
	color:gray;
}
.center{
	display: margin;
	justify-content: center;
}
.main{
	width: 100%;
}
.search{
	width: 445px;
}
.blocktext{
	font-size: 11pt;
	font-weight: 700;
	color: gray;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.blocktextClickable{
    font-size: 11pt;
	font-weight: 700;
	color: gray;
	white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.outputText{
	margin-top: 20vh;
}
.outputBlocks{
	margin-top: 33vh;
}
.outputHeader{
	color: black;
    font-size: 12pt;
    margin-bottom: 10px;
}
.bottomBorder{
	border-bottom: solid #c5c5c5 1px
}
.textPadding{
	padding: 7px;
}
.blockchainList{
	overflow: scroll;
	height: 87vh;
	overflow-x: hidden;

}

.blockchainList::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.blockchainList::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.blockchainList::-webkit-scrollbar-thumb {
  background: #5c5c5c;
  border: 0px none #50494f;
  border-radius: 52px;
}
.blockchainList::-webkit-scrollbar-thumb:hover {
  background: #52494b;
}
.blockchainList::-webkit-scrollbar-thumb:active {
  background: #4f1e2d;
}
.blockchainList::-webkit-scrollbar-track {
  background: #c0c0c0;
  border: 0px none #4b454a;
  border-radius: 37px;
}
.aBlock{
	cursor: pointer;
}
a{
	cursor: pointer;
}
.paddingleft{
	padding-left: 5px;
}

.nopadding{
	padding: 0px;
}
.margintop{
	margin-top: 10vh;
}

